body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    height: 200px;
    display: block;
    margin-inline: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    margin: 15px;
}
