@import url("./fonts/Bungee.css");
@import url("./animations/wobble-hor-bottom.css");

/* animation: wobble-hor-bottom 1.8s infinite both; */
/* -webkit-animation: wobble-hor-bottom 1.8s infinite both; */

h1 {
    font-family: "Bungee", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
}

#gift_container svg {
    height: 150px;
    animation: wobble-hor-bottom 1.8s infinite both;
    -webkit-animation: wobble-hor-bottom 1.8s infinite both;
    fill: white;
    filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.5));
}

#gift_container {
    padding: 25px;
    background-color: #0077b6;
    border-radius: 50%;
    width: max-content;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}

#gift_tip {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 50%);
    margin-top: 50px;
    font-size: 24px;
}
